---
import CaseStudy from "./CaseStudy.astro";
import SectionHeading from "./SectionHeading.astro";
---

<section class="xl:p-[100px] w-[90%] lg:w-full flex flex-col items-center justify-center m-auto mb-15 xl:mb-[100px]">
<SectionHeading heading="Case Studies" content="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"/>
<div class="xl:px-[60px] p-13 xl:py-[70px] rounded-[45px] flex flex-col  md:max-w-3/4 lg:max-w-full xl:flex-row gap-10 xl:gap-[64px] bg-primary">
<CaseStudy link="#" content="For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales."/>
<hr class="text-text-light">
<CaseStudy link="#" content="For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic."/>
<hr class="text-text-light">
<CaseStudy link="#" content="For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales."/>
</div>
</section>