---
const {heading,content}=Astro.props;
---

<div class="flex flex-col md:flex-row gap-7 lg:gap-10  items-center justify-center md:px-15 lg:px-0 p-5 xl:mb-20 mb-7">
<h2 class="px-1 bg-secondary whitespace-nowrap">{heading}</h2>
<p class="text-center">{content}</p>
</div>